<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://bootswatch.com/5/vapor/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <title>RasiaPVP - Auth</title>
    
</head>
<body style="height: 100vh;">
    <div class="container d-flex align-items-center justify-content-center" style="text-align: center; height: 100%;">
        <div>
            <h1>Rasia PVP</h1><h5 >Input your name to start earning</h5>
                <div class="form-group">
                    <form action="/panel" method="post">
                        <input type="text" name="nickname" class="mb-2 form-control <%= locals.valid %>" placeholder="Default input" id="inputDefault">
                        <button type="submit" class="w-100 btn <%= locals.valid ? "btn-danger" : "btn-primary" %>">Login</button>
                        <% if (locals.valid) { %>
                            <div class="invalid-feedback">Please write your nickname above</div>
                          <% } %>
                      </div>
                    </form>
        </div>
    </div>

    <footer class="footer mt-auto py-3 bg-dark fixed-bottom">
        <div class="container">
          <span class="text-muted">made by <a href="https://github.com/ploxxxy" target="_blank" title="Discord: ploxxy#6090">ploxxy</a></span>
        </div>
      </footer>
    
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</html>